* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(to bottom right, rgba(40, 91, 174, 1), rgba(76, 161, 210, 1)) no-repeat;
}


span {
  display: block;
}

.settings {
  display: flex;
  flex-direction: row;
  gap: 12px;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 14px;
  line-height: 24px;

  padding-top: 24px;
}

.startBtn {
  width: 226px;
  height: 48px;
  border-radius: 30px;
  padding: 12px 36px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  background: rgba(176, 194, 85, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  margin-top: 288px;

}

select {
  width: 238px;
  height: 36px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 1px solid rgba(79, 171, 255, 1);
  border-radius: 30px;
  padding: 6px 12px;
}

option {
  background-color: transparent;
}

.points {
  width: 375px;
  height: 48px;
  background-color: rgba(82, 140, 222, 1);
  border-radius: 30px;
  padding: 12px 36px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 0;
}

.point-value {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

table {
  border-spacing: 12px;
}

td {
  background-color: orangered;
  width: 85px;
  height: 85px;
  border-radius: 5px;
  border: 2px solid rgba(84, 186, 224, 1);
  background-color: rgba(69, 128, 196, 1);
}

button {
  cursor: pointer;
}

.result-element {
  color: rgba(54, 118, 188, 1);
}

.span_1 {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
}
.type_2 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.again-button {
  width: 185px;
  height: 48px;
  background-color: rgba(176, 194, 85, 1);
  padding: 12px 36px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 30px;
  margin-top: 32px;
}
